<link rel="stylesheet" href="/css/about.css">

<h1>Cómo funciona Bytemon</h1>

<main>
    <section class="objective">
        <h2>Objetivo del juego</h2>
        <p>
            El objetivo principal es administrar bien la energía y las habilidades para lograr evolucionar  anuestro Bytemon.
        </p>
    </section>

    <section class="sections">
        <h2>Secciones</h2>
        <ul>
            <li><strong>Gestión de personajes:</strong> Cambia entre múltiples jugadores o personajes. Aquí puedes crear nuevos personajes y también se ofrecen las opciones de Editar y Eliminar los ya existentes.</li>
            <li><strong>Cambiar personaje:</strong> Escoge entre la selección de los personajes previamente creados.</li>
            <li><strong>Lista de jugadores:</strong> Tabla que muestra los jugadores junto al equipo y Bytemon que han escogido.</li>
            <li><strong>Jugar:</strong> Interacción con nuestro Pokémon.</li>
        </ul>
    </section>

    <section class="controls">
        <h2>Controles</h2>
        <ul>
            <li><strong>Sonido:</strong> Emite el sonido del Bytemon.</li>
            <li><strong>Ataque:</strong> Realiza un ataque que consume 25❤️ y 20⚡️.</li>
            <li><strong>Ataque cargado:</strong> Realiza un ataque que consume 50❤️ y 60⚡️.</li>
            <li><strong>Baya:</strong> Recupera 15❤️ y 10⚡️.</li>
            <li><strong>Poción:</strong> Recupera 20❤️ y 20⚡️.</li>
         </ul>
     </section>

    <section class="authors">
        <h2>Autores</h2>
        <p>
            <a href="https://github.com/HectorCRZBQ" class="author-link" target="_blank">HectorCRZBQ</a> y <a href="https://github.com/Sergio016" class="author-link" target="_blank">Sergio016</a>
         </p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Bytemon. Todos los derechos reservados.</p>
</footer>

