<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteMon</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    <% if (typeof loadFormCss !== 'undefined' && loadFormCss) { %>
        <link rel="stylesheet" href="/css/form.css">
    <% } %>

    <% if (typeof loadTableCss !== 'undefined' && loadTableCss) { %>
        <link rel="stylesheet" href="/css/table.css">
    <% } %>


</head>
<body>
    <header>
        BYTEMON | <a href="/characters">Gestión de personajes</a> <a href="/game/select">Cambiar personaje</a> <a href="/players">Lista de jugadores</a> <a href="/game">Jugar</a>
    </header>
    
    <%- body %>


</body>

</html>