<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteMon</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    <% if (typeof loadFormCss !== 'undefined' && loadFormCss) { %>
        <link rel="stylesheet" href="/css/form.css">
    <% } %>

    <% if (typeof loadTableCss !== 'undefined' && loadTableCss) { %>
        <link rel="stylesheet" href="/css/table.css">
    <% } %>

    <% if (typeof loadIndexCss !== 'undefined' && loadIndexCss) { %>
        <link rel="stylesheet" href="/css/index.css">
    <% } %>

    <% if (typeof loadAboutCss !== 'undefined' && loadAboutCss) { %>
        <link rel="stylesheet" href="/css/about.css">
    <% } %>


</head>
<body>
    <header>
        <div class="logo">
            BYTEMON
        </div>
        <div class="hamburger" onclick="toggleMenu()">
            &#9776; <!-- Símbolo del menú hamburguesa -->
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/characters">Gestión de personajes</a></li>
                <li><a href="/game/select">Cambiar personaje</a></li>
                <li><a href="/players">Lista de jugadores</a></li>
                <li><a href="/about">Cómo funciona</a></li>
                <li><a href="/game">Jugar</a></li>
            </ul>
        </nav>
    </header>

    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>
    
    <%- body %>


</body>