<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/map.css">
    <title>Mapa</title>
    
    <!-- Incluir estilos de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- p5.js para animaciones -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Socket.IO -->
    <script src="/socket.io/socket.io.js"></script> <!-- Asegúrate de que esta línea esté aquí -->
</head>
<body>
    <h1>Mapa del Juego</h1>
    <p>Bienvenido al mapa del juego. Aquí puedes explorar las áreas y encontrar ByteMons.</p>

    <!-- Dropdown para seleccionar la imagen de fondo -->
    <label for="backgroundSelector">Selecciona un fondo:</label>
    <select id="backgroundSelector" onchange="changeBackground()">
        <option value="automatic">Automático</option>
        <option value="morning">Mañana</option>
        <option value="daytime">Día</option>
        <option value="evening">Tarde</option>
        <option value="night">Noche</option>
    </select>

    <!-- Contenedor para el mapa de Leaflet -->
    <div id="map" style="height: 600px;"></div> <!-- Contenedor para el mapa, estableciendo una altura -->

    <!-- Botón para redirigir a la escena 3D -->
    <br><br>
    <button onclick="window.location.href='/scene.html';">Mapa 3D</button>

    <script src="/js/sketch.js"></script> <!-- Enlace al archivo JS -->
</body>
</html>
