/* Estilos generales para la lista de personajes */
.character-list {
    list-style: none; /* Eliminar puntos de la lista */
    padding: 0; /* Eliminar padding por defecto */
    margin: 0; /* Eliminar margen por defecto */
    display: flex; /* Flexbox para disposición en fila */
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
}

/* Estilo de cada elemento de la lista */
.character-item {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 25px; /* Espaciado interno incrementado */
    margin: 25px 0; /* Espaciado entre elementos incrementado */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada */
    display: flex; /* Flexbox para disposición interna */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Centrar elementos verticalmente */
    flex-shrink: 0; /* Evitar que se reduzca más allá de su contenido */
    width: 90%; /* Ancho de cada elemento ajustado */
    max-width: 800px; /* Ancho máximo para pantallas grandes */
}

/* Estilo del nombre del personaje */
.character-name {
    padding-bottom: 10px; /* Espaciado inferior para el nombre */
}

/* Agrupar los botones */
.button-group {
    display: flex; /* Flexbox para disposición de botones */
    gap: 20px; /* Espaciado entre botones incrementado */
}

/* Estilo de los botones */
.create-button, .edit-button, .delete-button, .select-button {
    background-color: #ff6f00; /* Color de fondo del botón */
    color: #fff; /* Texto blanco */
    padding: 15px 20px; /* Espaciado del botón incrementado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s; /* Transición al cambiar el color */
    flex: 1; /* Hacer que todos los botones ocupen el mismo espacio */
    font-size: 18px; /* Tamaño de fuente incrementado */
}

/* Estilo del botón de crear */
.create-button {
    background-color: #ff9900; /* Color de fondo del botón de crear */
    margin-bottom: 50px;
}

.create-button:hover {
    background-color: #ffc773; /* Color más oscuro al pasar el mouse */
}

/* Estilo del botón de editar */
.edit-button {
    font-family: 'Press Start 2P', cursive; /* Fuente retro estilo pixel */
    background-color: #ff9900; /* Color de fondo del botón de editar */
}

.edit-button:hover {
    background-color: #ffc773; /* Color más oscuro al pasar el mouse */
}

/* Estilo del botón de eliminar */
.delete-button {
    font-family: 'Press Start 2P', cursive; /* Fuente retro estilo pixel */
    background-color: #83020f; /* Color de fondo del botón de eliminar */
}

.delete-button:hover {
    background-color: #be1627; /* Color más oscuro al pasar el mouse */
}

/* Estilo del botón de seleccionar */
.select-button {
    background-color: #586602; /* Color de fondo del botón de seleccionar */
}

/* Hover para el botón de seleccionar */
.select-button:hover {
    background-color: #8d9a03; /* Color más oscuro al pasar el mouse */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .character-item {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: stretch; /* Alinear a estirar el elemento */
        width: 60%; /* Hacer que ocupe casi todo el ancho */
        padding: 15px; /* Mantener padding cómodo para móviles */
    }

    .button-group {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        gap: 10px; /* Espaciado entre botones incrementado */
    }
    
    /* Aumentar el tamaño de fuente en móviles */
    .create-button, .edit-button, .delete-button, .select-button {
        font-size: 16px; /* Tamaño de fuente más accesible para móviles */
    }
}
