<h1>Lista de Jugadores</h1>
<table border="1">
    <thead>
        <tr>
            <th>Jugador</th>
            <th>Bytemon Inicial</th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
        <% characters.forEach(character => { %>
            <tr>
                <td data-label="Jugador"><%= character.name %></td>
                <td data-label="Bytemon Inicial"><%= character.initial %></td>
                <td data-label="Equipo"><%= character.team %></td>
            </tr>
        <% }) %>
    </tbody>
</table>