<h1>Selecciona un Personaje para Jugar</h1>
<ul class="character-list">
    <% characters.forEach(character => { %>
        <li class="character-item">
            <span class="character-name"><%= character.name %></span>
            <form action="/game/select" method="post" class="character-form">
                <input type="hidden" name="characterId" value="<%= character.id %>">
                <button type="submit" class="select-button">Seleccionar</button>
            </form>
        </li>
    <% }); %>
</ul>